<!DOCTYPE html>

{% extends "layouts/cabinetlayout.html" %}

{% load static %}
{% block cabinet %}
    

<div class="container" style="min-height: 100vh;">
    
    
    <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <div class="clearfix">
                    <a href="/generator-cv-resume/">
                    <i class="fa fa-pencil float-right"></i>
                    </a>
                  </div>
                  <h4 class="card-title font-weight-normal text-secondary">{{user.profiles.fl_pd_date}}</h4>
                  {% for quali in user.profiles.resume %}
                  {% for qq in quali.Quali %}
                    <h6 class="card-subtitle mb-4">{{qq.FL_cv_PS.jobtitle}}</h6>
                  {% endfor %}
                  {% endfor %}                  
                  <div class="row">
                      <div class="col">
                          <a class="btn btn-outline-info btn-block waves-effect" href="/presentation-cv-resume/">перейти к резюме</a>
                      </div>
                  </div>  
                </div>
              </div>
            </div>
    {% if user.profiles.resume %}    
        
{% endif %}    
    </div>
</div>



{% endblock %}