<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

{% if user.is_authenticated %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Изменить персональные данные</h3>
                        </div>
                        <div class="card-body">
                          <form method="post" action='/cabinet/'>
                           {% csrf_token %}
                         
                           {% for field in form %}
                             <div class="form-group">
                               {{ field.label_tag }}
                               
                               {% render_field field class="form-control form-control-lg rounded-0" %}

                             </div>
                             
                           {% endfor %}
                            <input type="reset" class="btn btn-secondary" value="Отмена">
                            <input type="submit" class="btn btn-primary" value="Сохранить">

                         </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->  
<!--

<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-10">
               
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Настройки профиля</h4>
                        </div>
                        <div class="card-body">
                            <form method="post">
                              {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Фамилия</label>
                                    <div class="col-lg-9">
                                        <input  class="form-control form-control-lg rounded-0" type="text" value="{{user.last_name}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Имя</label>
                                    <div class="col-lg-9">
                                        <input  class="form-control form-control-lg rounded-0" type="text" value="{{user.first_name}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Отчество</label>
                                    <div class="col-lg-9">
                                        <input  class="form-control form-control-lg rounded-0" type="text" value="{{user.users.get_otch}}">
                                    </div>
                                </div>                               
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Эл. почта</label>
                                    <div class="col-lg-9">
                                        <input  class="form-control form-control-lg rounded-0" type="email" value="{{user.email}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Часовой пояс</label>
                                    <div class="col-lg-9">
                                        <select id="user_time_zone"  class="form-control form-control-lg rounded-0" size="0">
                                          <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
	                                        <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
	                                        <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
	                                        <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
	                                        <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
	                                        <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
	                                        <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
	                                        <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
	                                        <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
	                                        <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
	                                        <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
	                                        <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
	                                        <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
	                                        <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
	                                        <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
	                                        <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
	                                        <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
	                                        <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
	                                        <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
	                                        <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
	                                        <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
	                                        <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
	                                        <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
	                                        <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
	                                        <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
	                                        <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
	                                        <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
	                                        <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
	                                        <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
	                                        <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
	                                        <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
	                                        <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
	                                        <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
	                                        <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
	                                        <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
	                                        <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
	                                        <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
	                                        <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
	                                        <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
	                                        <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
	                                        <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
	                                        <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
	                                        <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
	                                        <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
	                                        <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
	                                        <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
	                                        <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
	                                        <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
	                                        <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
	                                        <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
	                                        <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
	                                        <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
	                                        <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
	                                        <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
	                                        <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
	                                        <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
	                                        <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
	                                        <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
	                                        <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
	                                        <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
	                                        <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
	                                        <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
	                                        <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
	                                        <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
	                                        <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
	                                        <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
	                                        <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
	                                        <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
	                                        <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
	                                        <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
	                                        <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
	                                        <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
	                                        <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
	                                        <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
	                                        <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
	                                        <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
	                                        <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
	                                        <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
	                                        <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
	                                        <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
	                                        <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
	                                        <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
                                        </select>
                                    </div>
                                </div>
<!--                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Пароль</label>
                                    <div class="col-lg-9">
                                        <input  class="form-control form-control-lg rounded-0" type="password" value="user.password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">Подтверждение пароля</label>
                                    <div class="col-lg-9">
                                        <input  class="form-control form-control-lg rounded-0" type="password" value="">
                                    </div>
                                </div>-->

{% else %}

<div class="container-fluid h-100">
    <p>Для входа в личный кабинет, пожалуйста зарегестрируйтесь</p>
    <a href="/register/">Регистрация</a>
</div> 

{% endif %}

<!--
<div class="container">
<h4 align="center">Персональная информация</h4>
<div ng-app="edit_set" ng-controller="edit_set_ctrl">     


        <form id="flregdata" class="form-horizontal" role="form">

            
            <div class="row">   -->             
<!-- Coloumn #1  -->                        
 <!--               <div class="col">                    
                       <div class="form-group row">
                            <label for="name-input" class="col-4 col-form-label">Фамилия</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_fam" type="text" placeholder="Фамилия" id="FL_fam" value="$uservalues->FL_fam" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="rukvod-input" class="col-4 col-form-label">Имя</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_name" type="text" placeholder="Имя" id="FL_name" value="$uservalues->FL_name" >
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="inn-input" class="col-4 col-form-label">Отчество</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_otch" type="text" placeholder="Отчество" id="FL_otch" value="$uservalues->FL_otch" >
                            </div>
                        </div> 
                         <div class="form-group row">
                            <label for="kpp-input" class="col-4 col-form-label">СНИЛС</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_snils" type="text" placeholder="СНИЛС" id="FL_snils"  value="$uservalues->FL_snils" >
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="type-input" class="col-4 col-form-label">Пол</label>
                            <div class="col-7">
                            <select class="form-control form-control-sm" name="FL_pol" type="text" id="FL_pol"  value="$uservalues->FL_pol" >
                                <option>Мужской</option>
                                <option>Женский</option>
                            </select> 
                            </div>
                        </div>           
                        <div class="form-group row">
                             <label for="okved-input" class="col-4 col-form-label">Дата рождения</label>
                            <div class="col-7">
                            <input type="text" class="form-control form-control-sm" name="FL_data" placeholder="MM/DD/YYYY" id="FL_data" value="$uservalues->FL_data" >
                            </div>
                        </div>
                          
                        <div class="form-group row">
                            <label for="adress_pos-input" class="col-4 col-form-label">Телефон моб.</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_tlph_mob" type="text" placeholder="Телефон моб." id="FL_tlph_mob" value="$uservalues->FL_tlph_mob" >
                            </div>
                        </div>                           
                        <div class="form-group row">
                            <label for="adress_pos-input" class="col-4 col-form-label">Телефон раб.</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_tlph_work" type="text" placeholder="Телефон раб." id="FL_tlph_work" value="$uservalues->FL_tlph_work" >
                            </div>
                        </div>  
                         <div class="form-group row">
                            <label for="adress_pos-input" class="col-4 col-form-label">Телефон дом.</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_tlph_home" type="text" placeholder="Телефон дом." value="$uservalues->FL_tlph_home" id="FL_tlph_home" >
                            </div>
                        </div>  
                        <div class="form-group row">
                            <label for="adress_pos-input" class="col-4 col-form-label">Электронная почта</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="email" type="text" placeholder="Электронная почта" value="$uservalues->email" id="email" >
                            </div>
                        </div>

                         <div class="form-group row">
                            <label for="adress_real-input" class="col-4 col-form-label">Адрес места регистрации</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_adress_reg" type="text" placeholder="Адрес места регистрации" id="FL_adress_reg" value="$uservalues->FL_adress_reg" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="psunion-input" class="col-4 col-form-label">Адрес места проживания</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_adress_real" type="text" placeholder="Адрес места жительства" id="FL_adress_real" value="$uservalues->FL_adress_real" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="adress_pos-input" class="col-4 col-form-label">Профсоюз</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_prfsz" type="text" placeholder="Профсоюз" id="FL_prfsz" value="$uservalues->FL_prfsz" >
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="adress_pos-input" class="col-4 col-form-label">Профсообщество</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_ps_name" type="text" placeholder="Профсообщество" id="FL_ps_name" value="$uservalues->FL_ps_name" >
                            </div>
                        </div>
                 
                </div>-->
<!-- Coloumn #2  -->
  <!--              <div class="col">                    
                
                         <div class="form-group row">
                            <label for="adress_pos-input" class="col-5 col-form-label">Текущее место работы, ИНН/КПП</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_work_inn" type="text" placeholder="Место работы ИНН/КПП" id="FL_work_inn" value="$uservalues->FL_work_inn" >
                            </div>
                        </div> 
                         <div class="form-group row">
                            <label for="adress_pos-input" class="col-5 col-form-label">Текущее место обучения, ИНН/КПП</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_educ_inn" type="text" placeholder="ИНН УЗ" id="FL_educ_inn" value="$uservalues->FL_educ_inn" >
                            </div>
                        </div> 
                         <div class="form-group row">
                            <label for="adress_pos-input" class="col-5 col-form-label">Наличие подтвержденных квалификаций</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_test_Q" type="text" placeholder="Наличие подтвержденных квалификаций" id="FL_test_Q" value="$uservalues->FL_test_Q" >
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="adress_pos-input" class="col-5 col-form-label">Образование. Уровень</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_educ_level" type="text" placeholder="Образование. Уровень" id="FL_educ_level" value="$uservalues->FL_educ_level" >
                            </div>
                        </div> 
                         <div class="form-group row">
                            <label for="adress_pos-input" class="col-5 col-form-label">Специальность по образованию, ОКСО</label>
                            <div class="col-7">
                            <input class="form-control form-control-sm" name="FL_educ_spec_okso" type="text" placeholder="Образование. Специальность УЗ (ОКСО)" id="FL_educ_spec_okso" value="$uservalues->FL_educ_spec_okso" >
                            </div>      
                        </div> 
                        <div class="spacer"></div>                             
                         <div class="form-group row"">
                            <label for="password" class="col-2 col-form-label">Пароль</label>
                            <div class="col-7">
                            <input type="hidden" name="_token" value=" csrf_token() "> 
                            <input type="password" name="password"  class="form-control form-control-lg rounded-0" id="password" placeholder="Пароль" value=" bcrypt($uservalues->password)" >
                            </div>
                        </div> 
                         <div class="form-group row"">
                            <label for="soglas-input" class="col-auto col-form-label">Согласие на обработку перс. данных</label>
                            <div class="col-auto">
                            <input class="form-check-input" type="checkbox" ng-model="soglas" id="soglas-input">
                            <button type="submit" class="btn btn-primary btn-lg" ng-disabled="soglas != true"><i class="fa fa-user" ></i>Сохранить</button> 
                            </div>
                        </div>                    
                </div>
            </div>
     

</form>     
</div>
</div>

<script>
angular.module("edit_set",[]).controller("edit_set_ctrl",function($scope){});  
</script>   

-->
{% endblock %}
