<!DOCTYPE html>
    
{% extends "layouts/cabinetlayout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{ block.super }}<a class="breadcrumb-item" href="{% url 'settings' %}">Настройки</a>
{% endblock %}


{% block cabinet %}

{% if user.is_authenticated %}


<div class="container" style="min-height: 100vh;">
    
    <div class="row">
        <div class="col-sm-12">

            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h6 class="mb-0">Персональные данные</h6>
                </div>
                <div class="card-body">
                  <form method="post" action="">
                   {% csrf_token %}
                 
                   {% for field in form %}
                     <div class="form-group">
                       {{ field.label_tag }}
                       
                       {% render_field field class="form-control form-control-lg rounded-0" %}
            
                     </div>
                     
                   {% endfor %}
                    <input type="reset" class="btn btn btn-outline-mdb-color" onclick='location.href="{% url 'cabinet' %}";' value="Отмена">
                    <input type="submit" class="btn btn-mdb-color" value="Сохранить">
            
                 </form>
                </div>
                <!--/card-block-->

            <!--/row-->
           </div>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->  


{% else %}

<div class="container-fluid h-100">
    <p>Для входа в личный кабинет используйте форму на главной странице</p>
    <a href="/">На главную</a>
</div> 

{% endif %}

{% endblock %}
