
.jobtitlelist .jobtitlelist-contents {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul {
  margin-bottom: 0;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li {
  list-style: none;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li div {
  display: inline-block;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li .jobtitleitem {
  width: 25%;
}



.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li .otraslitem {
  width: 25%;
}


.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li .otraslicon {
  width: 5%;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li .nameotfitem {
  width: 35%;
}


.jobtitlelist .jobtitlelist-contents .jobtitlelist-item ul li .profstandartitem {
  width: 5%;
}



.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.headings {
  padding: 22px 30px;
  background: #4e5f6e;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.headings div {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #e5e5e5;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details .block {
  padding: 10px 40px;
  background: #fff;
  width: 100%;
  transition: .2s ease-in;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details .block div {
  color: #222222;
  font-family: "Montserrat", sans-serif;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details .block div i {
  font-size: 1.1875em;
  color: #c7c8c9;
}


.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details .block div span.jobtitleitem {
  margin-left: 5px;
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details .block:hover {
  box-shadow: 0px 0px 30px 0px rgba(11, 29, 66, 0.15);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.jobtitlelist .jobtitlelist-contents .jobtitlelist-item li.jobtitlelist-details .block:hover span.jobtitleitem {
  color: #0099CC ;
}
