<!DOCTYPE html>

{% extends "layouts/layout.html" %}

{% load static %}
{% block content %}

<head>

</head>

{% if user.is_authenticated %}


<div class="py-3">

  <nav class="breadcrumb">
    {% block breadcrumbs %} <a class="breadcrumb-item" href="/cabinet/">Личный кабинет</a> {% endblock %}
  </nav>
</div>
  


<div class="container-fluid  " >



  {% block cabinet %}
  {% endblock %}


{% else %}

  <div class="container-fluid py-5 card text-center z-depth-2">
   <div class="card-body">
    <h5>Для входа в личный кабинет, пожалуйста авторизуйтесь</h5>
   </div>
  </div>

{% endif %} 


  </div>



{% endblock %}