<!DOCTYPE html>

{% extends "layouts/cabinetlayout.html" %}

{% load static %}

{% block cabinet %}


<style>

</style>


<section class="section robokassafail">
	<div class="container" style="min-height: 100vh;">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color: #CC0000">Оплата не прошла</h2>
        <p style="font-size:20px;color:#5C5C5C;"></p>
        <a href="{% url 'pricing' %}" class="btn btn-info">Попробовать еще раз</a>
    <br><br>
    </div>

	</div>
	</div>
</section>

{% endblock %}