<!DOCTYPE html>

{% extends "layouts/companieslayout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{ block.super }} <a class="breadcrumb-item" href="{% url 'organization-profile' company.id %}">Организация: «{{company.e_op_form}}» {{company.e_name}}</a>
{% endblock %}

{% block companyprofile %}

<div class="container-fluid py-5 card text-center z-depth-2">
<form action="" method="post">
    <h6>Удалить подразделение "{{ department.name }}"?</h6>{% csrf_token %}
    <input class="btn btn-outline-mdb-color btn-md" type="submit" value="Удалить"/>
    <button onclick="window.history.back();" class="btn btn-mdb-color btn-md" type="button">Отмена</button>
</form>
</div>



{% endblock %}