{% extends "layouts/companieslayout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{ block.super }} <a class="breadcrumb-item" href="{% url 'organization-profile' cmpd0.company.id %}">Организация: «{{cmpd0.company.e_op_form}}» {{cmpd0.company.e_name}}</a>
<a class="breadcrumb-item" href="{% url 'org-competences' cmpd0.company.id cmpd0.department.id generaldatas.slug %}">подразделение «{{cmpd0.department.name}}» / {{generaldatas.jobtitle}}</a>
{% endblock %}
{% block companyprofile %}


<div class= "offinstructions">
<div class="container py-5" style="min-height: 100vh;">

<!--head-->
<p class="western" style="margin-bottom: 0in" align="right">УТВЕРЖДАЮ
</p>
<p class="western" style="margin-bottom: 0in" align="right"></p>

<div style="margin-bottom: 0in" align="right" >
{{cmpd.e_director}} {{cmpd.e_op_form}}
</div>

<div style="margin-bottom: 0in" align="right" >
«{{cmpd.e_name}}»
</div>

<div style="margin-bottom: 0in" align="right">
_______________ {{cmpd.e_name_ul|first|capfirst}}. {{cmpd.e_otch_ul|first|capfirst}}. {{cmpd.e_fam_ul|capfirst}}
</div>


<div class="ofhead vardate" style="margin-bottom: 0in" align="right" style="margin-bottom: 0in" align="right" >
<span contenteditable="true">
«{% now "j" %}» {% now "E" %} {% now "Y" %} г.
</span>
</div>

<!--head-->

<p class="western" style="margin-bottom: 0in" align="center"><br>

</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>ДОЛЖНОСТНАЯ
ИНСТРУКЦИЯ
	</b>
</p>

<div class="ofhead vardate" style="margin-bottom: 0in; font-weight: 400;" align="center">
{{generaldatas.jobtitlerod}}
</div>
<!--change angular value departament -->
<div style="margin-bottom: 0in; font-weight: 400;" align="center">
     подразделения «{{cmpd.depname}}»
</div>

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>1. Общие положения
	</b>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

<p class="western" style="margin-bottom: 0in" align="justify">
    1.1. Настоящая должностная инструкция
определяет функциональные, должностные
обязанности, права и ответственность
{{generaldatas.jobtitlerod|lower}} подразделения «{{cmpd.depname}}»
 (далее - {{generaldatas.jobtitle|lower}}) {{cmpd.e_op_form}} «{{cmpd.e_name}}» (далее Учреждение).
</p>


<div style="margin-bottom: 0in">

<p class="western" style="margin-bottom: 0in" align="justify">
	   1.2. На должность {{generaldatas.jobtitlerod}} назначается
лицо, удовлетворяющее следующим требованиям к образованию и обучению:
</p>
{% for education in generaldatas.educationalreqs %}
   <div  class="ofinstructions">
    <li>{{education}};</li>
   </div>
{% endfor %}

{% if generaldatas.reqworkexperiences %}
   <p class="western" style="margin-bottom: 0in" align="justify">с опытом практической работы:</p>
{% for workexp in generaldatas.reqworkexperiences %}
<div  class="ofinstructions">
  <li>{{workexp}};</li>
</div>
{% endfor %}
{% endif %}

{% if generaldatas.specialconditions %}
   <p class="western" style="margin-bottom: 0in" align="justify">Особые условия допуска к работе {{generaldatas.jobtitlerod}}:</p>
{% for speconds in generaldatas.specialconditions %}
<div  class="ofinstructions">
  <li>{{speconds}};</li>
</div>
{% endfor %}
{% endif %}
</div>

<div style="margin-bottom: 0in" >

<p class="western" style="margin-bottom: 0in" align="justify">
    1.3. {{generaldatas.jobtitle}} должен знать:
</p>
{% for nk in requirements.necessaryknowledges %}
<div  class="ofinstructions">
<li>{{nk.necessaryknowledge}};</li>
</div>
{% endfor %}

<p class="western" style="margin-bottom: 0in" align="justify">
    1.4. {{generaldatas.jobtitle}} должен уметь:
</p>
{% for rs in requirements.requiredskills %}
<div  class="ofinstructions">
<li>{{rs.requiredskill}};</li>
</div>
{% endfor %}

</div>

<div align="right" >
<p class="western" style="margin-bottom: 0in" align="justify">
    1.5. {{generaldatas.jobtitle}} назначается на должность
и освобождается от должности приказом
{{cmpd.e_director_gent|lower}} Учреждения в соответствии с
действующим законодательством Российской
Федерации.
</p>
</div>

<div align="right" >
<p class="western" style="margin-bottom: 0in" align="justify">	1.6.
{{generaldatas.jobtitle}} подчиняется {{cmpd.e_director_datv|lower}} Учреждения
и {{cmpd.d_cheef_datv|lower}} подразделения
«{{cmpd.depname}}»
</p>
</div>

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

<p class="western" style="margin-bottom: 0in" align="center"><b>2.
Трудовые функции
	</b>

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

{% for tf in requirements.tf %}
<div  class="tfs">
<li>2.{{ forloop.counter }}. {{tf.nametf}}.</li>
</div>
{% endfor %}

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

<p class="western" style="margin-bottom: 0in" align="center"><b>3.
Должностные обязанности
	</b>

</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

{% for la in requirements.laboractions %}
<div  class="laboractions">
  <li>3.{{ forloop.counter }}. {{la.laboraction}}.</li>
  {% if forloop.last %}
    {% if requirements.othercharacteristics %}
      <li>  3.{{ forloop.counter|add:'1' }} Дополнительно:</li>
          {% for oc in requirements.othercharacteristics %}
             <div  class="ofinstructions">
                <li>{{oc}};</li>
             </div>
          {% endfor %}
    {% endif %}
  {% endif %}
</div>

{% endfor %}



<p class="western" style="margin-bottom: 0in" align="center"><br>
</p>

<p class="western" style="margin-bottom: 0in" align="center"><b>4.
Права
	</b>

<p class="western" style="margin-bottom: 0in" align="center"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><b>	{{generaldatas.jobtitle}}
имеет право:
	</b>

<div style="margin-bottom: 0in" align="right">

<p class="western" style="margin-bottom: 0in" align="justify">
    4.1. Запрашивать и получать необходимую
информацию, а так же материалы и документы,
относящиеся к вопросам деятельности
{{generaldatas.jobtitlerod|lower}}.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.2.   Повышать квалификацию, проходить
переподготовку (переквалификацию).
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.3. Вступать во взаимоотношения с
подразделениями сторонних учреждений
и организаций для решения вопросов,
входящих в компетенцию {{generaldatas.jobtitlerod|lower}}.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.4. Принимать участие в обсуждении
вопросов, входящих в его функциональные
обязанности.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.5. Вносить предложения и замечания
по вопросам улучшения деятельности на
порученном участке работы.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.6. Обращаться в соответствующие
органы местного самоуправления или в
суд для разрешения споров, возникающих
при исполнении функциональных
обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.7. Пользоваться информационными материалами и нормативно-правовыми документами, необходимыми для исполнения своих должностных обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    4.8. Проходить в установленном порядке
аттестацию.
</p>

</div>

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

<p class="western" style="margin-bottom: 0in" align="center"><b>5.
Ответственность
	</b>

</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
	<b>{{generaldatas.jobtitle}} несет ответственность
за:
	</b>

<div style="margin-bottom: 0in" align="right">

</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    5.1. Неисполнение (ненадлежащее
исполнение) своих функциональных
обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    5.2. Невыполнение распоряжений и
поручений {{cmpd.e_director_gent|lower}} Учреждения.
</p>
<p class="western" style="margin-bottom: 0in;" align="justify">
	5.3. Недостоверную
информацию о состоянии выполнения
порученных заданий и поручений, нарушении
сроков их исполнения.
</p>
<p class="western" style="margin-bottom: 0in;" align="justify">
	5.4. Нарушение правил
внутреннего трудового распорядка,
правила противопожарной безопасности
и техники безопасности, установленных
в Учреждении.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    5.5. Причинение материального
ущерба в пределах, установленных
действующим законодательством Российской
Федерации.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    5.6. Разглашение сведений, ставших
известными в связи с исполнением
должностных обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
	За вышеперечисленные
нарушения {{generaldatas.jobtitle|lower}} может быть
привлечен в соответствии с действующим
законодательством в зависимости от
тяжести проступка к дисциплинарной,
материальной, административной,
гражданской и уголовной ответственности.
</p>
</div>

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
    Настоящая должностная инструкция разработана в соответствии с положениями
(требованиями) Трудового кодекса Российской Федерации от 30.12.2001 г. № 197 ФЗ (ТК РФ)
(с изменениями и дополнениями), профессионального стандарта «{{generaldatas.nameps}}»
утвержденного приказом Министерства труда и социальной защиты Российской Федерации от {{generaldatas.psdateappr}} № {{generaldatas.psordernum}}
и иных нормативно–правовых актов, регулирующих трудовые отношения.
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

{%if stop_paidactivdate is not True %}

{% if ois|length < 300 %}

<div>
   <form method='post' action="{% url 'org-official-instructions' cmpd0.company.id cmpd0.department.id generaldatas.slug %}?{% for tf in requirements.tf %}tfids={{tf.id}}&{% endfor %}">
       {% csrf_token %}
       {{ form.as_p}}
       <input type="hidden" name='company' value='{{cmpd0.company.id}}'>
       <input type="hidden" name='name' value='{{generaldatas.jobtitle|lower}}'>
       <input type="hidden" name='slug' value='{{generaldatas.slug}}'>
       <input type="hidden" name='departs' value='{{cmpd0.department.id}}'>
       <input type="hidden" name='jt' value='{{generaldatas.jobtitleid}}'>
       <input type="hidden" name='tfs' value='{% for tf in requirements.tf %}{{tf.id}}{% if not forloop.last %},{% else %}{% endif %}{% endfor %}'>
       <input class="btn btn-mdb-color btn-sm" type="submit" value="Сохранить в подразделении">
   </form>
</div>
{% else %}
<p class="font-italic text-muted">Достигнут лимит на сохранение должностных инструкций, пожалуйста обратитесь в техподдержку.</p>
{% endif %}

{% else %}

{% if ois_len == 0 %}

<div>
   <form method='post' action="{% url 'org-official-instructions' cmpd0.company.id cmpd0.department.id generaldatas.slug %}?{% for tf in requirements.tf %}tfids={{tf.id}}&{% endfor %}">
       {% csrf_token %}
       {{ form.as_p}}
       <input type="hidden" name='company' value='{{cmpd0.company.id}}'>
       <input type="hidden" name='name' value='{{generaldatas.jobtitle|lower}}'>
       <input type="hidden" name='slug' value='{{generaldatas.slug}}'>
       <input type="hidden" name='departs' value='{{cmpd0.department.id}}'>
       <input type="hidden" name='jt' value='{{generaldatas.jobtitleid}}'>
       <input type="hidden" name='tfs' value='{% for tf in requirements.tf %}{{tf.id}}{% if not forloop.last %},{% else %}{% endif %}{% endfor %}'>
       <input class="btn btn-mdb-color btn-sm" type="submit" value="Сохранить в подразделении">
   </form>
</div>
{% else %}
<p class="font-italic text-muted">Достигнут лимит на сохранение должностных инструкций. <a class="text-info" href="{% url 'pricing' %}">Получить полный доступ</a></p>

{% endif %}

{% endif %}


<a class="btn btn-info btn-sm" align="right" href="{% url 'org-official-instructions' cmpd0.company.id cmpd0.department.id generaldatas.slug 'msword-document-download' %}?{% for tf in requirements.tf %}tfids={{tf.id}}&{% endfor %}">Скачать в формате MS Word</a>

</div>

</div>



{% endblock %}