<!DOCTYPE html>

{% extends "layouts/companieslayout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block breadcrumbs %}
{{ block.super }} <a class="breadcrumb-item" href="{% url 'organization-profile' company.id %}">Организация: «{{company.e_op_form}}» {{company.e_name}}</a>
{% endblock %}

{% if company.regname_id == user.id %}
{% block head %}
<title>«{{company.e_op_form}}» {{company.e_name}}</title>
<meta name="description" content="«{{company.e_op_form}}» {{company.e_name}}" />
{% endblock %}
{% endif %}

{% block companyprofile %}
<style>

.oi_icon {
    color: black;
    display: block;
    text-align: center;
}
.oi_text {
    color: black;
    display: block;
    text-align: center;
				line-height: 1.0;
}

 .hover-btn  {
     position: absolute;
     right: 15px;
     display: none;
  }

  .row :hover  .hover-btn {
     display: block;

  }
</style>

{% if company.regname_id == user.id %}

<!--Card company info-->
<div class="col-4 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="clearfix">
        <a href="{% url 'organization-settings' company.id %}">
         <i class="fa fa-pencil float-right"></i>
        </a>
      </div>
      <h5 class="card-title">Информация об организации</h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                Название
              </th>
              <th>
                {{company.e_director}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
               «{{company.e_op_form}}» {{company.e_name}}
              </td>
              <td>{{company.e_name_ul|first|capfirst}}. {{company.e_otch_ul|first|capfirst}}. {{company.e_fam_ul|capfirst}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--/.Card company info-->

{% if departs%}
<div class="py-5">
  <h4>Подразделения</h4>
</div>

<div id="Departs" class="px-3">

<table id="tableDeparts" class="table table-striped">
  <thead>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Должность руководителя</th>
      <th>ФИО руководителя</th>
      <th>Телефон</th>
    </tr>
  </thead>
  <tbody>
  {% for dep in departs %}
    <tr id="depart_{{ forloop.counter }}" class="accordion-toggle" data-toggle="collapse" data-parent="#Departs" data-target=".docsDepart_{{ forloop.counter }}">
      <td scope="row">{{ forloop.counter }}.</td>
      <td>{{dep.name}}</td>
      <td>{{dep.cheef}}</td>
      <td>{{dep.cheef_name|first|capfirst}}. {{dep.cheef_otch|first|capfirst}}. {{dep.cheef_fam|capfirst}}</td>
      <td>{{dep.phone}}</td>
      <td align="right"><a class="btn btn-warning btn-sm" href="{% url 'editdepart' company.id dep.id %}">Изменить</a></td>
      <td><i class="indicator fa fa-chevron-up pull-right"></i></td>
    </tr>
    <tr>
     <td colspan="7">
       <div class="accordion-body collapse docsDepart_{{ forloop.counter }}" id="depaccordion_{{ forloop.counter }}">
        {% if ois%}
	       <div class="row">
        {% for oi in ois %} {% if oi.departs_id == dep.id %}
	        <div class="col-md-1 py-2 mx-3">

             <a class="close hover-btn" href="{% url 'removeoi' company.id oi.id %}">
               <span aria-hidden="true">×</span>
               <span class="sr-only">Удалить</span>
             </a>

	         <a href="{% url 'org-official-instructions' company.id oi.departs_id oi.slug%}?{% for tf in oi.tfs %}tfids={{tf}}&{% endfor %}">
            <div data-toggle="tooltip" data-placement="right" title="{{oi.name}}">
              <div class="oi_icon">
                <i class="fa fa-file-word-o fa-3x" style="color:#2b579a"></i>
              </div>
              <div class="oi_text">
              {% if oi.name|length > 30 %} <!--truncate long JT name-->
                {{oi.short|capfirst}}
              {% else %}
                {{oi.name|capfirst}}
              {% endif %}
              </div>
           </div>
          </a>
         </div>

        {% endif %}{% endfor %}
								</div>
								{% endif %}
     			<div> <!--OI create button-->
         {%if stop_paidactivdate is not True %}

         {% if ois|length < 700 %}
           <a class="btn btn-mdb-color btn-sm" href="{% url 'org-search-jobtitles' company.id dep.id %}?search=''">Добавить должностную инструкцию</a>
           {% else %}
           <p class="font-italic text-muted">Достигнут лимит на создание должностных инструкций, пожалуйста обратитесь в техподдержку.</p>
         {% endif %}

         {% else %}

         {% if ois|length == 0 %}
         <a class="btn btn-mdb-color btn-sm" href="{% url 'org-search-jobtitles' company.id dep.id %}?search=''">Добавить должностную инструкцию</a>
         {% else %}
         <p class="font-italic text-muted">Достигнут лимит на создание должностных инструкций. <a class="text-info" href="{% url 'pricing' %}">Получить полный доступ</a></p>
         {% endif %}

         {% endif %} <!-- if stop_paidactivdate is not True -->

         </div>
							</div>
     </td>
    </tr>
<script>
$('#depaccordion_{{ forloop.counter }}').on('shown.bs.collapse', function () {
    $("#depart_{{ forloop.counter }} i.indicator").removeClass("fa fa-chevron-up").addClass("fa fa-chevron-down");
});
$('#depaccordion_{{ forloop.counter }}').on('hidden.bs.collapse', function () {
    $("#depart_{{ forloop.counter }} i.indicator").removeClass("fa fa-chevron-down").addClass("fa fa-chevron-up");
});
</script>
  {% endfor %}<!-- ./{for dep in departs-->
  </tbody>
</table>


{% endif %}

{%if stop_paidactivdate is not True %}

{% if departs|length < 100 %}
  <a class="btn btn-mdb-color btn-sm waves-effect" href="{% url 'registerdepart' company.id%}">Добавить подразделение</a>
  {% else %}
  <p class="font-italic text-muted">Достигнут лимит на создание подразделений в организации «{{company.e_op_form}}» {{company.e_name}}, пожалуйста обратитесь в техподдержку.</p>
{% endif %}

{% else %}

{% if departs|length == 0 %}
  <a class="btn btn-mdb-color btn-sm waves-effect" href="{% url 'registerdepart' company.id%}">Добавить подразделение</a>
  {% else %}
  <p class="font-italic text-muted">Достигнут лимит на создание подразделений в организации «{{company.e_op_form}}» {{company.e_name}}. <a class="text-info" href="{% url 'pricing' %}">Получить полный доступ</a></p>
{% endif %}


{% endif %} <!--if stop_paidactivdate is not True -->

 </div>

{% else %} <!--./ if company.regname_id == user.id -->
  <div class="container-fluid py-5 card text-center z-depth-2">
   <div class="card-body">
    <h5>У вас нет такой зарегестрированой организации</h5> {{company.regname_id}}
   </div>
  </div>
{% endif %}
{% endblock %}
