<!DOCTYPE html>
    
{% extends "layouts/companieslayout.html" %}

{% load static %}
{% load widget_tweaks %}


{% block breadcrumbs %}
{{ block.super }} <a class="breadcrumb-item" href="/organization-profile/{{form.company_id}}">Организация: «{{form.company_form}}» {{form.company_name}}</a> <a class="breadcrumb-item" href="/organization-settings/{{form.company_id}}/">Настройки</a>
{% endblock %}



{% block cabinet %}

{% if user.is_authenticated %}

<div class="container" style="min-height: 100vh;">
    <div class="row">
        <div class="col-sm-12">

            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h6 class="mb-0">Организация: «{{form.company_form}}» {{form.company_name}}</h6>
                </div>
                <div class="card-body">
                  <form method="post" action="">
                   {% csrf_token %}
                 
                   {% for field in form %}
                     <div class="form-group">
                       {{ field.label_tag }}
                       
                       {% render_field field class="form-control form-control-lg rounded-0" %}
            
                     </div>
                     
                   {% endfor %}
                   <div class="d-flex justify-content-end">
                     <div class="p-2"><input type="reset" class="btn btn-secondary" onclick="location.href='/cabinet/';" value="Отмена"></div>
                     <div class="p-2"><input type="submit" class="btn btn-primary" value="Сохранить"></div>
                     <div class="ml-auto p-2"><a class="btn btn-danger" href="/organization-remove/{{form.company_id}}/">Удалить</a></div>
                   </div>
            
                 </form>
                </div>
                <!--/card-block-->

            <!--/row-->
           </div>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->  


{% else %}

<div class="container-fluid h-100">
    <p>Для входа в личный кабинет, пожалуйста зарегестрируйтесь</p>
    <a href="/register/">Регистрация</a>
</div> 

{% endif %}

{% endblock %}
