<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}



<style>

.remove {
  text-align: right;
  
}


.modal-tf {
  width: auto;
  margin: auto;
}


#scrollable-dropdown-menu .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
    white-space: normal;
    
    
}    

#removequali {position:absolute; top:5px; right:5px;}

.overlay-x{
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}
#scrollable-dropdown-menu{
  position:relative;
}


</style>


<div class="container py-5" style="min-height: 100vh; overflow-y: hidden;">


<div ng-app="resume_form">

<div ng-controller="ResumeItems" >

<div class="form-group py-5" >
{% if user.is_authenticated %}

<!--Panel-->

<div class="card card-body">
    <h4 class="card-title">{{ user.last_name }} {{ user.first_name }} {{ user.profiles.fl_otch }}</h4>
    <p class="card-text">Город</p>
    <div class="flex-row">
        <p>{{ user.profiles.fl_tlph_mob }}<p/>

    </div>
</div>
<!--/.Panel-->
{% else %}                
                    
<div class="card card-body">
    <h4 class="card-title">Anonymous</h4>
    <p class="card-text">homeless</p>
    <div class="flex-row">
        <p>no phone<p/>

    </div>
</div>
<!--/.Panel-->
{% endif %} 
</div>


<div ng-form  id="resumeeditform" class="jumbotron py-3" name="resumeeditform" data-ng-repeat="item in items">

<!--close workposition button -->

   <button  type="button" class="close pull-right" ng-click="removeWorkPos(item)" aria-label="Close">
   <span >&times;</span>
   </button>

   
<!--static inputs -->     
    

   <div class="form-group py-3">

     
     <div class="col">
       <label class="" for="cvcompany">Название компании</label>
       <input type="text" id="cvcompany" class="form-control" ng-model="item.FL_cv_companyName"
              name="FL_cv_companyName"  required>

     </div>
     
     
   </div>

<div class="dateDropdown">
      <label for="dateField1">Please enter the date:</label>
      <input class="form-control" id="dateField1" type="text" placeholder="dd.mm.yyyy"/>
    </div>

    
<!--
<div class="md-form">
    <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
    <label for="date-picker-example">Try me...</label>
</div>-->

  
<!--  <div class="md-form py-5">        
    <label class="col-2 col-form-label">Окончание:</label>
    <div class="col">
    <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control" ng-model="item.FL_cv_Period_f" required>

    </div>
    </div>
  </div>-->
  


 <!--dynamic inputs -->
{% verbatim %} 
 
 <input type="hidden" ng-model="item.Quali" value="{{item.Quali}}">
  
 
<div ng-show="quali" id="qualiseditform" class="form-horizontal" name="qualiseditform" data-ng-repeat="quali in item.Quali" >

<div class="col-12 text-right"> 
    <button type="button" id="removequali" ng-click="removeQuali(item.id, quali)"  class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button> 
</div>

      
 <div class="form-group" >
 <p>Выберите название отрасли: </p>
  <select class="form-control mdb-select colorful-select dropdown-штащ" id="otraslselect"  ng-model="quali.FL_cv_Otrasl"
          ng-change="loadPS(quali.FL_cv_Otrasl.id, quali.id)" ng-options="otrasl as otrasl.name for otrasl in selectitems">
    
   <input type="hidden" ng-model="quali.FL_cv_Otrasl" value="{{quali.FL_cv_Otrasl}}">  
  </select>
 </div>
 
 <div class="form-group" ng-show="quali.FL_cv_Otrasl" >
   
 <p>Выберите название должности: </p>
 
<div class='input-group' id="scrollable-dropdown-menu" >
<!--<span class="overlay-x" ng-click="quali.FL_cv_PS=''">X</span>-->

  <input type="text" id="psdropdown" name="psdropdown" class="form-control" dropdown-danger

         ng-model="quali.FL_cv_PS"
         uib-typeahead="ps as ps.jobtitle + ' [ ПС № ' + ps.psregnum + ' - ' + ps.nameps + ' ]'
         for ps in selectps[quali.id] | orderBy:'jobtitle' | filter:$viewValue"
         typeahead-focus
         >
<span class="input-group-addon" ng-click="quali.FL_cv_PS=''">
<button class="btn btn-outline-blue-grey waves-effect btn-sm" type="button" style="font-size : 15px;">&times;</button> 
</span>
</div>

 
 
   <input type="hidden" ng-model="quali.FL_cv_PS" value="{{quali.FL_cv_PS}}">
   
 </div>
  
<div class="form-group" ng-show="quali.FL_cv_PSS">  
 <input type="hidden" ng-model="quali.FL_cv_PS_target" value="{{quali.FL_cv_PS_target}}">

 <p ng-cloak>Основная цель вида проф. деятельности: {{quali.FL_cv_PS_target }}</p> 

<h4>Группа занятий (код ОКЗ)</h4>


 <div class="form-group" >
 <input type="hidden" ng-model="quali.FL_cv_OKZ" value="{{quali.FL_cv_OKZ}}"> 
<!-- <input type="text" value="pdata.NameOKZ">-->
 
  <table> <!--if used array-->
    <tr ng-repeat="okz in quali.FL_cv_OKZ" >     
      <td ng-cloak>{{ okz.CodeOKZ}}</td>
      <td ng-cloak>{{ okz.NameOKZ }}</td>
    </tr>
  </table> 
 </div>
  
<h4>Вид эконом. деятельности (код ОКВЭД)</h4>

 <div class="form-group">
 <input type="hidden" ng-model="quali.FL_cv_OKVED" value="{{quali.FL_cv_OKVED}}"> 
  <table>
    <tr ng-repeat="okved in quali.FL_cv_OKVED"> <!--if used array of objects-->
      <td ng-cloak>{{ okved.CodeOKVED }}</td>
      <td ng-cloak>{{ okved.NameOKVED }}</td>
    </tr>
  </table>
 </div>

 
 <div class="form-group">
 
<!-- Button to Open the WF Modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#tfmodal_{{item.id}}_{{quali.id}}">
  Трудовые функции
</button>
 
 </div> 

<div class="form-group">  
 
 <h4>Необходимые умения</h4>
 <div class="form-group" style="height:300px; overflow:auto; border:solid 1px #C3E4FE;">
  <div class="form-control" ng-repeat="nk in quali.FL_cv_NK" >
      <label class="checkbox">
      <input type="checkbox"  ng-model="nk.selected" value="{{ nk }}" ng-cloak/>{{ nk.NameNK }}
      </label> 
  </div>
 </div> 

 
 <h4>Необходимые знания</h4>
 <div class="form-group" style="height:300px; overflow:auto; border:solid 1px #C3E4FE;">
  <div class="form-control" ng-repeat="rs in quali.FL_cv_RS" >
      <label class="checkbox">
      <input type="checkbox"  ng-model="rs.selected" value="{{ rs }}" ng-cloak/>{{ rs.NameRS }}
      </label> 
  </div>
 </div>


 
 <h4>Необходимые навыки</h4>
 <div class="form-group" style="height:300px; overflow:auto; border:solid 1px #C3E4FE;">
  <div class="form-control" ng-repeat="la in quali.FL_cv_LA" >
      <label class="checkbox">
      <input type="checkbox"  ng-model="la.selected" value="{{ la }}" ng-cloak/>{{ la.NameLA }}
      </label> 
  </div>
 </div> 


<div class="form-group" ng-show="quali.FL_cv_OC != None">   
 <h4>Другие характеристики</h4>
 <div class="form-group" style="height:300px; overflow:auto; border:solid 1px #C3E4FE;">
  <div class="form-control" ng-repeat="oc in quali.FL_cv_OC | unique: 'NameOC'" >
      <label class="checkbox">
      <input type="checkbox"  ng-model="oc.selected" value="{{ oc }}" ng-cloak/>{{ oc.NameOC}}
      </label> 
  </div>
 </div> 
</div>
<div class="col-12 text-right">  
    <button class="btn btn-blue-grey btn-md" ng-click="removeQuali(item.id, quali)">Удалить квалификацию</button>
</div> 
</div> 

 </div> 
 

<!-- WF Modal -->
<div class="modal fade modal-tf" id="tfmodal_{{item.id}}_{{quali.id}}">
  <div class="modal-dialog modal-lg">
<div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Трудовые функции</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->

 <div class="form-group">
<input type="hidden" ng-model="quali.FL_cv_TF" value="{{quali.FL_cv_TF}}">  <!--save to DB-->
<table>
  <th>Название трудовой функции</th><th>Код квалификации</th><th>Месяцы</th>
  <tr ng-repeat="wf in quali.FL_cv_TF"><!--if used array of objects-->
      <td ng-cloak>{{ wf.NameTF}}</td>
      <td ng-cloak>{{wf.CodeTF}}</td>
      <td><input type="number" ng-model="wf.month"> <!--month numbers--></td>
      
  </tr>  
</table>
</div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Сохранить</button>
        <button type="button" class="btn btn-blue-grey" data-dismiss="modal">Отменить</button>
        
      </div>

    </div>
  </div>
</div>
 


</div>  <!-- div container Qualification-->
  

<button class="btn btn-info btn-md btn-block" ng-click="addnewQuali(item.id)">Добавить квалификацию</button> 

  
</div>
 

 <div class="form-group"> 
   <button class="btn btn-blue-grey btn-md btn-block" ng-click="addnewWorkPos()">Добавить место работы</button>
   <button class="btn btn-blue-grey btn-md btn-block" ng-click="addNewEdu()">Добавить место учёбы</button>
 </div>
  

<!--<input type="hidden" name="getresume"  placeholder="getresume" id="getresume" value="@verbatim{{cvitems}}@endverbatim">-->
 <div class="form-group">
 
<input type="hidden" name="resume"  placeholder="putresume" id="resume" value="@verbatim{{items}}@endverbatim">
<button class="btn btn-blue-grey btn-md" id="resumesubmit" >Сохранить резюме</button>
 
 </div>

<button type="submit" class="btn btn-blue-grey btn-md" ng-click="getitems()">Get items</button>
</div>
</div>
</div>


{% endverbatim %} 




<script>
 
</script>

{% endblock %}  