
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<title>Поиск должности в профстандартах</title>
<meta name="description" content="Поиск должности с последующим построением должностной инструкции в ПрофНавигаторе" />
{% endblock %}

{% block content %}


<style>

/* .show {
  display: block !important;
}*/
</style>

<div class=" py-5 px-5" style="min-height: 100vh">

<header class="searchjobtitle text-white text-center">
  <div class="overlay"></div>
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto md-form">
       <h2 class="mb-5">Квалификационный справочник должностей</h2>
        <form method="get" action="{% url 'search-jobtitles' %}{{ search }}">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="text" class="form-control form-control-lg" id="jtsearch" name="search" value="">
               <label for="search" class=""></label>
            </div>
            <div class="col-12 col-md-3">
              <input type="submit" class="btn btn-mdb-color"
              value="Найти">
            </div>
          </div>
        </form>
      </div>
    </div>
</header>

<script>
$("#jtsearch").autocomplete({
	minLength: 3,
 delay: 500,

	source: function(req, add){
		var search=$("#jtsearch").val();
		$.ajax({
			url: '/jt-autocomplete/',
   async: true,
			dataType: 'json',
			type: 'GET',
			data: {'search': search,},
			success: function(data){
				var suggestions=[];

				$.each(data, function(index, object){
					suggestions.push(object.jobtitle);
				});

				add(suggestions);

			},
			error: function(){
				alert("Error!");
			}
		});
	}
});
</script>

<small>Фильтр по отрасли</small>
<select  class="form-control" id="otrasl-filter">
  <option value="All">Все отрасли</option>
  {% for ot in otraslist.ol %}
   <option value="{{ot}}">{{ot}}</option>
  {% endfor %}
</select>



<script>
 //Filter otrasl
$('select#otrasl-filter').change(function() {
	var filterValue = $(this).val();
 filterList(filterValue);
});

// Otrasl filter function
function filterList(value) {
	var list = $(".jobtitlelist-details");

	$(list).hide();

	if (value == "All") {
		$(".jobtitlelist").find(".jobtitlelist-details").each(function (i) {
			$(this).show();
		});
	} else {


		$(".jobtitlelist").find('li[name="'+ value +'"]').each(function (i) {
   $(this).show();
   console.log(this);
		});
	}
}
</script>

{% if jtresult %}
  {% if jtresult.0.jtrandom %}
<!--  <h4>10 случайных должностей:</h4>-->
  {% endif %}

<section class="jobtitlelist">
	<div class="jobtitlelist-contents">
			  <div class="jobtitlelist-item">
			  	<!-- Headings -->
			  	<ul class="m-0 p-0">
			  		<li class="headings row">
			  			<div class="col-md-4">Должность</div>
			  			<div class="col-md-4">Обобщенная трудовая функция</div>
			  			<div class="col-md-1">Отрасль</div>
        <div class="col-md-1"><center>Уровень квалификации</center></div>
        <div class="col-md-2"><center>Профстандарт</center></div>
			  		</li>
            {% for jt in jtresult %}

			  		<li class="jobtitlelist-details" name="{{ jt.otraslname }}">
        <a href="/competences/{{jt.slug}}">
				  			   <div class="block row">

					  	   	<div class="col-md-4">
					  	   		<span class="jobtitleitem">{{ jt.jobtitle }}</span>
					  	   	</div>

            <div class="col-md-4">{{ jt.nameotf }}</div>

					  	   	<div class="col-md-1" data-placement="left" title="{{ jt.otraslname }}">
               <center><i class="{{ jt.otraslicon }} fa-2x" ></i></center>
            </div>

            <div class="col-md-1"><center>{{ jt.levelofquali }}</center></div>
            <div class="col-md-2" data-toggle="tooltip" data-placement="left" title="{{ jt.nameps }}">
             <center>{{ jt.psregnum }}</center>
            </div>
			  			   </div>
         </a>
       </li>
          {% endfor %}
			  	</ul>
			</div>
	</div>

 {% if is_paginated %}

  {{get_params}}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'search-jobtitles' %}?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" class="previous">&larr; Назад</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'search-jobtitles' %}?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}"class="next" >Вперёд &rarr;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


</section >
{% endif %}
<script>
   jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>

</div>

{% endblock %}
