<!DOCTYPE html>

{% extends "layouts/cabinetlayout.html" %}

{% load static %}
{% block cabinet %}
<style>

.card-usercab {
 min-height: 150px;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:active {color: black;}    /* selected link */

</style>
  

<div class="container" style="min-height: 100vh;">
    

 <h3 class="page-heading mb-4">Должностная инструкция {{generaldatas.jobtitlerod}}</h3>    



<strong>jobtitleid </strong>           {{generaldatas.jobtitleid           }} <br>
<strong>jobtitle           </strong>              {{generaldatas.jobtitle             }} <br>
<strong>nameotf            </strong>              {{generaldatas.nameotf              }} <br>
<strong>pspurposekind      </strong>              {{generaldatas.pspurposekind        }} <br>
<strong>nameps             </strong>              {{generaldatas.nameps               }} <br>
<strong>otraslname         </strong>              {{generaldatas.otraslname           }} <br>
<strong>otraslicon         </strong>              {{generaldatas.otraslicon           }} <br>
<strong>educationalreqs    </strong>              {{generaldatas.educationalreqs      }} <br>
<strong>reqworkexperiences </strong>              {{generaldatas.reqworkexperiences   }} <br>
<strong>specialconditions  </strong>              {{generaldatas.specialconditions    }} <br>
<strong>othercharacts      </strong>              {{generaldatas.othercharacts        }} <br>
<strong>tfs                </strong>              {{generaldatas.tfs                  }} <br>



 
</div>



{% endblock %}