<!DOCTYPE html>

{% extends "layouts/cabinetlayout.html" %}

{% load static %}
{% block cabinet %}
<style>

.card-usercab {
 min-height: 150px;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:active {color: black;}    /* selected link */


.ofinstructions li {
    
    list-style-type: none;
   }
.ofinstructions li:before {
    padding-left:2em;
    content: "- "; 
  /* white-space:pre;*/
   }

  
.laboractions li {
    
    list-style-type: none;
   }   
   
   
</style>
  

<div class="container" style="min-height: 100vh;">
    

<!-- <h3 class="page-heading mb-4">Должностная инструкция {{generaldatas.jobtitlerod}}</h3>   --> 

<!--

<strong>jobtitleid </strong>           {{generaldatas.jobtitleid           }} <br>
<strong>jobtitle           </strong>              {{generaldatas.jobtitle             }} <br>
<strong>nameotf            </strong>              {{generaldatas.nameotf              }} <br>
<strong>pspurposekind      </strong>              {{generaldatas.pspurposekind        }} <br>
<strong>nameps             </strong>              {{generaldatas.nameps               }} <br>
<strong>otraslname         </strong>              {{generaldatas.otraslname           }} <br>
<strong>otraslicon         </strong>              {{generaldatas.otraslicon           }} <br>
<strong>educationalreqs    </strong>              {{generaldatas.educationalreqs      }} <br>
<strong>reqworkexperiences </strong>              {{generaldatas.reqworkexperiences   }} <br>
<strong>specialconditions  </strong>              {{generaldatas.specialconditions    }} <br>
<strong>othercharacts      </strong>              {{generaldatas.othercharacts        }} <br>
<strong>tfs                </strong>              {{generaldatas.tfs                  }} <br>
<hr>
<strong>nametf                </strong>



<strong>laboractions          </strong>-->


<!--  {% for la in requirements.laboractions %}
  
   <li>{{la.laboraction}}</li>
  {% endfor %}
-->

<!--
<strong>necessaryknowledges   </strong>


{% for nk in requirements.necessaryknowledges %}
<li>{{nk.necessaryknowledge}}</li>

{% endfor %}


<strong>requiredskills        </strong>
{% for re in requirements.requiredskills %}
<li>{{re.requiredskill}}</li>
{% endfor %}
<strong>othercharacteristics  </strong>
{% for oc in requirements.othercharacteristics %}
<li>{{oc.othercharacteristic}}</li>
{% endfor %}

<hr>-->
<!--<p>
	p { margin-bottom: 0.08in; direction: ltr; text-align: left; }p.western { font-size: 12pt; }p.cjk { font-size: 12pt; }p.ctl { font-size: 12pt; }a:link { color: rgb(0, 0, 255); }
</p>-->

<p class="western" style="margin-bottom: 0in" align="right">УТВЕРЖДАЮ
</p>
<p class="western" style="margin-bottom: 0in" align="right">
</p>
<p class="western" style="margin-bottom: 0in" align="right">«COMPANY_VALUE»
</p>
<p class="western" style="margin-bottom: 0in" align="right">DIRECTORNAME_VALUE
</p>
<p class="western" style="margin-bottom: 0in" align="right">         
                                  DATA_VALUE «xx» month YYYY г.
</p>
<p class="western" style="margin-bottom: 0in" align="center"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>ДОЛЖНОСТНАЯ
ИНСТРУКЦИЯ
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>{{generaldatas.jobtitlerod}}
подразделения 
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>1.
Общие положения
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
     1.1. Настоящая должностная инструкция
определяет функциональные, должностные
обязанности, права и ответственность
{{generaldatas.jobtitlerod}} подразделения  PODRAZDELENIE_VALUE
 (далее - {{generaldatas.jobtitle}}) COMPANY_VALUE (далее Учреждение).
</p>
<p class="western" style="margin-bottom: 0in" align="justify">	1.2.
На должность {{generaldatas.jobtitlerod}} назначается
лицо, имеющее
{% for education in generaldatas.educationalreqs %}
    {{education|lower}}{% if not forloop.last %}, {% endif %}
{% endfor %}
{% if generaldatas.reqworkexperiences %}
    и стаж
    {% for workexp in generaldatas.reqworkexperiences %}
        {{workexp|lower}}{% if not forloop.last %}, {% else %}. {% endif %}
    {% endfor %}
{% else %}
.
{% endif %}
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
OTHER_REQUIREMENTS
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
     1.3. {{generaldatas.jobtitle}} должен знать:
</p>
{% for nk in requirements.necessaryknowledges %}
<div  class="ofinstructions">
<li>{{nk.necessaryknowledge}}</li>
</div>
{% endfor %}

<p class="western" style="margin-bottom: 0in" align="justify">       
     1.4. {{generaldatas.jobtitle}} назначается на должность
и освобождается от должности приказом
директора Учреждения в соответствии с
действующим законодательством Российской
Федерации.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">	1.6.
{{generaldatas.jobtitle}} подчиняется DIRECTOR_VALUE и CHEEF_VALUE.
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>2.
Должностные обязанности и трудовые
функции
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>

{% for la in requirements.laboractions %}
<div  class="laboractions">
<li>2.{{ forloop.counter }}. {{la.laboraction}}</li>
</div>
{% endfor %}

<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>3.
Права
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><b>	{{generaldatas.jobtitle}}
имеет право:
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.1. Запрашивать и получать необходимую
информацию, а так же материалы и документы,
относящиеся к вопросам деятельности
{{generaldatas.jobtitlerod}}.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.2.   Повышать квалификацию, проходить
переподготовку (переквалификацию).
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.3. Вступать во взаимоотношения с
подразделениями сторонних учреждений
и организаций для решения вопросов,
входящих в компетенцию {{generaldatas.jobtitlerod}}.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.4. Принимать участие в обсуждении
вопросов, входящих в его функциональные
обязанности.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.5. Вносить предложения и замечания
по вопросам улучшения деятельности на
порученном участке работы.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.6.  Обращаться в соответствующие
органы местного самоуправления или в
суд для разрешения споров, возникающих
при исполнении функциональных
обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.7. Пользоваться информационными
материалами и нормативно-правовыми
документами, необходимыми для исполнения
своих должностных обязанностей;
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    3.8. Проходить в установленном порядке
аттестацию.
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="center"><b>4.
Ответственность
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
	<b>{{generaldatas.jobtitle}} несет ответственность
за:
	</b>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    4.1. Неисполнение (ненадлежащее
исполнение) своих функциональных
обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    4.2. Невыполнение распоряжений и
поручений директора Учреждения и
CHEEF_VALUE.
</p>
<p class="western" style="margin-bottom: 0in; background: #ffffff" align="justify">
	4.3. Недостоверную
информацию о состоянии выполнения
порученных заданий и поручений, нарушении
сроков их исполнения.
</p>
<p class="western" style="margin-bottom: 0in; background: #ffffff" align="justify">
	4.4. Нарушение правил
внутреннего трудового распорядка,
правила противопожарной безопасности
и техники безопасности, установленных
в Учреждении.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    4.5. Причинение материального
ущерба в пределах, установленных
действующим законодательством Российской
Федерации.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
    4.6. Разглашение сведений, ставших
известными в связи с исполнением
должностных обязанностей.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">
	За вышеперечисленные
нарушения {{generaldatas.jobtitle}} может быть
привлечен в соответствии с действующим
законодательством в зависимости от
тяжести проступка к дисциплинарной,
материальной, административной,
гражданской и уголовной ответственности.
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
     Настоящая должностная инструкция
разработана в соответствии с положениями
(требованиями) Трудового кодекса
Российской Федерации от 30.12.2001 г. № 197
ФЗ (ТК РФ) (с изменениями и дополнениями)
и иных нормативно–правовых актов,
регулирующих трудовые отношения.
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">Должность
составителя
</p>
<p class="western" style="margin-bottom: 0in" align="justify">______________________________________
              _________________ /________________/
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
                  (личная
подпись)                    (ФИО)
</p>
<p class="western" style="margin-bottom: 0in" align="justify">Согласовано
</p>
<p class="western" style="margin-bottom: 0in" align="justify">Должность
</p>
<p class="western" style="margin-bottom: 0in" align="justify">______________________________________
              _________________ /________________/
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
                  (личная
подпись)                    (ФИО)
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">       
                         «___»______________20 ___ г.
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="text-indent: 0.49in; margin-bottom: 0in" align="justify">
	С должностной инструкцией, экземпляр
которой будет находиться на рабочем
месте в служебном кабинете специалиста
по персоналу Учреждения, ознакомлен
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p class="western" style="margin-bottom: 0in" align="justify">_________________/________________/
                                   «___»______________20___г.
</p>
<p class="western" style="margin-bottom: 0in" align="justify">    
(личная подпись) 
                  (ФИО)
</p>
<p class="western" style="margin-bottom: 0in" align="justify"><br>
</p>
<p><br><span style="box-sizing: border-box;"></span>
</p>
<p><span style="box-sizing: border-box;"><span style="box-sizing: border-box; font-family: 'Times New Roman';"><span style="box-sizing: border-box;"></span></span></span>
</p>

 
</div>



{% endblock %}