<!DOCTYPE html>

{% extends "layouts/cabinetlayout.html" %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
<title>Резюме</title>
<meta name="description" content="ПрофНавигатор - Резюме в терминах профстандартов" />
{% endblock %}


{% block breadcrumbs %}
{{ block.super }}<a class="breadcrumb-item" href="{% url 'presentation-cv-resume' %}">Резюме</a>
{% endblock %}

{% block cabinet %}


<section class="cvpresent">
<div class="container" style="min-height: 100vh; overflow-y: hidden;" id = "cvpresent">
<div class="form-group py-3" >
{% if user.is_authenticated %}

<div id="toprserv" class="pull-right">
	<a class="btn btn-md align-middle btn-outline-mdb-color" href="{% url 'generator-cv-resume' %}" class="px-3">
<i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
</div>

<div id="cv">
	<div class="mainDetails">
		<div id="headshot">
			<img src="{% static 'images/headshot.jpg' %}" alt="User" />
		</div>
		<div id="name">
			<h1 >{{ user.last_name }} {{ user.first_name }} {{ user.profiles.fl_otch }}</h1>
			<h2 >{{ user.profiles.fl_pd_date }}</h2>
		</div>
		<div id="contactDetails">
			<ul>
				<li>Электронная почта: <a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></li>
				<li>Мобильный телефон: {{ user.profiles.fl_tlph_mob}} </li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea">
			<div class="sectionTitle">
				<h1>Опыт работы</h1>
			</div>

{% for item in cvcleared %}

			<div class="sectionContent">
                <h2>{{ item.companyname }}</h2>
                <p class="subDetails">{{ item.startdate }} - {{ item.enddate }}</p>
			</div>

 {% for quali in item.quali %}
		<section>

			<div class="sectionContent">

					<h2>{{ forloop.counter }}. {{ quali.PS.jobtitle }}</h2>
                    <h4>Отрасль</h4> <p>{{ quali.Otrasl.name }}</p>
                    <h4>Основная цель вида проф. деятельности</h4> <p>{{ quali.PS.pspurposekind }}</p>
                    <h4>Профстандарт</h4> <p>{{ quali.PS.nameps }}. № {{ quali.PS.psregnum }}</p>

                <article>
                    <div class="form-group py-1">
				    <h5 class="py-1">Трудовые функции:</h5>
                    {% for tf in quali.tf %}
                    <ul class="list-group">
                        <li class="list-group-item">{{tf.nametf}} (Код: {{tf.codetf}}) </li>
                    </ul>
                    {% endfor %}
                    </div>

                    <div class="form-group py-1">
                    <h5 class="py-2">Должностные обязанности:</h5>
                    {% for la in quali.la %}
                    <ul class="list-group">
                        <li class="list-group-item">{{la.laboraction}}</li>
                    </ul>
                    {% endfor %}
                    </div>


                    <div class="form-group py-1">
                    <h5 class="py-2">Практические навыки:</h5>
                    {% for rs in quali.rs %}
                    <ul class="list-group">
                        <li class="list-group-item">{{rs.requiredskill}}</li>
                    </ul>
                    {% endfor %}
                    </div>

                    <div class="form-group py-1">
                    <h5 class="py-2">Знания:</h5>
                    {% for nk in quali.nk %}
                    <ul class="list-group">
                        <li class="list-group-item">{{nk.necessaryknowledge}}</li>
                    </ul>
                    {% endfor %}
                    </div>

                    <div class="form-group py-1">
                    <h5 class="py-2">Другие характеристики:</h5>
                    {% for oc in quali.oc %}
                    <ul class="list-group">
                        <li class="list-group-item">{{oc.othercharacteristic}}</li>
                    </ul>
                    {% endfor %}
                    </div>

			</div>

                <div class="clear"></div>
               </article>
		</section>
{% endfor %}

		<section>
			<div class="sectionTitle">
				<h1>Ключевые навыки</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>{{ item.keyskills | linebreaks }}</li>
				</ul>
			</div>
           <div class="clear"></div>
		</section>

{% endfor %}
</div>
</div>

{% endif %}
</div>
</div>

</section>

{% endblock %}