<!DOCTYPE html>
    
{% extends "services/search-profstandart.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<h2>FUCK YOU</h2>
<div class="container py-5">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Название профстандарта</th>
        <th>Регистрационный номер</th>
        <th>Дата регистрации</th>
      </tr>
    </thead>
    <tbody>

      {% for value in psinfo %}
        <tr>
          <td>{{ value.nameps }}</td>
          <td>{{ value.psregnum }}</td>
          <td>{{ value.psdateappr }}</td>

        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
<!--/container-->

{% endblock %}