<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
   
/*div. {
    height:100vh;
}   
   */
    .select2-container .select2-selection--single {
        height: auto;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-search__field {
        display: block;
        width: 100%;
        height: 43px;
        padding: 10px 18px;
        font-size: 15px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 43px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #333 transparent transparent transparent;
        border-width: 7px 3px 0 3px;
    }
    .select2-selection__clear {
        display: none;
    }
    .select2-container--default .select2-selection--single {
        background-color: transparent;
        border: none;
        border-radius: 0;
    }
    .select2-container--default {
        width: 100%!important;
    }    
    
</style>

<div ng-app="ps_search" ng-controller="ps_search_ctrl" style="height:100vh; display:block; overflow:auto;">
   
<div class="container py-5">


                    <!-- form card login -->
                         <h6 class="mb-0">Поиск профстандарта по названию</h6>


                          <form method="get" action=''>
                           <!--{% csrf_token %}-->
                          <!-- <input type="hidden" name="next" value="request.GET.next">-->
                         
                           {% for field in form %}
                             <div class="form-group">
                                                    
                               {% render_field field class="form-control form-control-lg rounded-0" %}

                             </div>
                             
                           {% endfor %}
                            
                            <input type="submit" class="btn btn-secondary" value="Показать профстандарт">

                         </form>


</div>

<div class="container py-5" ng-show="{{ngshow}}" id="showps">

   <table width=100%>
   <tr>
   </td>
   <td>
   </td>
   <td width=20% align="center" valign="top" rowspan=2>
        УТВЕРЖДЕН<br />
приказом Министерства<br />
труда и социальной защиты Российской Федерации<br />
от {{ psinfo.psdateappr }} № {{ psinfo.psordernum }}          </td>
   </tr>
   <tr>
   <td width=80% valign="bottom">
   <h2>{{ psinfo.nameps }}</h2>
   </td>
   <td>
   <td>
   </td>
   </tr>


   </table>
   <table width=100%>
        <tr height="20"></tr>   
 		<TR>
			<TD valign="bottom" COLSPAN=30 WIDTH=75% HEIGHT=15 STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none;">
				<center><font size="5"></font><BR>
				</center>
			</TD>
			<TD valign="center" COLSPAN=3 WIDTH=15% STYLE="border: 1px solid;">
				<font size="3"><center>{{ psinfo.psregnum }}</center></font>
			</TD>
			<TD COLSPAN=2 WIDTH=10% STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
				<P><BR>
				</P>
			</TD>
		</TR>  
   		<TR VALIGN=TOP height="1">
			<TD height=1 COLSPAN=30 WIDTH=75% STYLE="border: none; padding: 0in">
			</TD>
			<TD height=1 COLSPAN=3 WIDTH=15% STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Регистрационный номер</FONT></FONT></CENTER>
			</TD>
            <TD height=1 COLSPAN=2 WIDTH=10% STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding: 0in;">
			</TD>
		</TR>
        </table>
        <table>

   <tr>
   <td>
      <FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>Общие сведения</B></FONT></FONT>
   </td>
      <td WIDTH=1% style="padding: 10px; padding-right: 0px">

   </td>
   </tr>
   </table>

<TABLE WIDTH=100% CELLPADDING=7 CELLSPACING=0>
	<COLGROUP>
		<COL WIDTH=13*>
		<COL WIDTH=9*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=15*>
		<COL WIDTH=0*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=26*>
		<COL WIDTH=3*>
		<COL WIDTH=9*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=7*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=11*>
		<COL WIDTH=12*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=2*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=14*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=3*>
		<COL WIDTH=24*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=0*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=7*>
		<COL WIDTH=10*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=0*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=1*>
		<COL WIDTH=0*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=4*>
		<COL WIDTH=3*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=2*>
		<COL WIDTH=8*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=1*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=4*>
		<COL WIDTH=11*>
		<COL WIDTH=1*>
		<COL WIDTH=0*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=4*>
		<COL WIDTH=3*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=12*>
		<COL WIDTH=2*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=0*>
	</COLGROUP>
	<COLGROUP>
		<COL WIDTH=33*>
	</COLGROUP>
	<TBODY>
		<TR>
			<TD valign="bottom" COLSPAN=30 WIDTH=80% HEIGHT=15 STYLE="border-top: none; border-bottom: 1px solid #00000a; border-left: none; border-right: none;">
				<center><font size="5">{{ psinfo.pskind }}</font><BR>
				</center>
			</TD>
			<TD COLSPAN=2 WIDTH=6% STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
				<P><BR>
				</P>
			</TD>
			<TD valign="center" COLSPAN=3 WIDTH=14% STYLE="border: 1px solid;" id="OPDVPD">
				<font size="3"><center>{{ psinfo.pscodekind }}</center></font>
			</TD>
		</TR>
		<TR VALIGN=TOP>
			<TD COLSPAN=30 WIDTH=80% STYLE="border: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(наименование
				вида профессиональной деятельности)</FONT></FONT></P>
			</TD>
            <TD COLSPAN=2 WIDTH=6% STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
				<P><BR>
				</P>
			</TD>
			<TD COLSPAN=3 WIDTH=14% STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Код</FONT></FONT></P>
			</TD>
		</TR>
		<TR>
			<TD COLSPAN=35 WIDTH=100% HEIGHT=53 STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<FONT FACE="Times New Roman, serif"><FONT SIZE=3>Основная
				цель вида профессиональной деятельности:</FONT></FONT>
			</TD>
		</TR>
	</TBODY>
	<TBODY>
		<TR>
			<TD VALIGN=TOP COLSPAN=35 WIDTH=100% HEIGHT=90 STYLE="border: 1px solid; padding: 10px">
				{{ psinfo.pspurposekind }}		</TD>
		</TR>
	</TBODY>
	<TBODY>
		<TR>
			<TD COLSPAN=35 WIDTH=100% HEIGHT=53 STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Группа
				занятий:</FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
      
  
    <TBODY>
    {% for okz in okzinfo %}
    {% if not forloop.counter|divisibleby:"2" %}
		<TR >
      
			<td COLSPAN=3 WIDTH=14% HEIGHT=13 STYLE="border: 1px solid; border-bottom: none; border-right: none; padding: 10px;">
				<center>{{ okz.codeokz }}</center>
			</td>      
			<td COLSPAN=10 WIDTH=34% STYLE="border: 1px solid; border-bottom: none; border-right: none; padding: 10px; padding-bottom: 0px;">
				<p>{{ okz.nameokz }}</p>
			</td>
      
      <!--If num of elements not even - add next table colomn-->
      {% if not forloop.last|divisibleby:"2" %}
      
			<TD COLSPAN=3 WIDTH=12% STYLE="border: 1px solid; border-bottom: none; border-right: none; padding: 10px;">
				<center></center>
			</TD>
			<TD COLSPAN=19 WIDTH=39% STYLE="border: 1px solid; border-bottom: none; padding: 10px; padding-bottom: 0px;">
				<p></p>
			</TD>   
 
      {% endif %}

      {% else %}    
      
			<TD COLSPAN=3 WIDTH=12% STYLE="border: 1px solid; border-bottom: none; border-right: none; padding: 10px;">
				<center>{{ okz.codeokz }}</center>
			</TD>
			<TD COLSPAN=19 WIDTH=39% STYLE="border: 1px solid; border-bottom: none; padding: 10px; padding-bottom: 0px;">
				<p>{{ okz.nameokz }}</p>
			</TD>  
 

 
		</TR>
     {% endif %}
     {% endfor %}

	</TBODY>
          
            
	<TBODY>
		<TR VALIGN=TOP>
			<TD COLSPAN=3 WIDTH=14% HEIGHT=13 STYLE="border-top: 1px solid; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(код
				ОКЗ)</FONT></FONT></P>
			</TD>
			<TD COLSPAN=10 WIDTH=34% STYLE="border-top: 1px solid; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(наименование)</FONT></FONT></P>
			</TD>
			<TD COLSPAN=3 WIDTH=12% STYLE="border-top: 1px solid; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(код
				ОКЗ)</FONT></FONT></P>
			</TD>
			<TD COLSPAN=19 WIDTH=39% STYLE="border-top: 1px solid; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(наименование)</FONT></FONT></P>
			</TD>
		</TR>
		<TR>
			<TD COLSPAN=35 WIDTH=100% HEIGHT=37 STYLE="border-top: none; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Отнесение
				к видам экономической деятельности:</FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
    	<TBODY>
        {% for okved in okvedinfo %}
             		<TR>
			<TD COLSPAN=3 WIDTH=14% HEIGHT=13 STYLE="border: 1px solid; border-right: none; padding: 10px; border-bottom: none;">
				<center>{{ okved.codeokved }}</center>
			</TD>
			<TD COLSPAN=32 WIDTH=86% STYLE="border: 1px solid; padding: 10px; padding-bottom: 0px; border-bottom: none;">
				<P>{{ okved.nameokved }}</P>
			</TD>
            </TR>
        {% endfor %}        
      </TBODY>


		<TR>
			<TD COLSPAN=3 WIDTH=14% HEIGHT=2 STYLE="border-top: 1px solid; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(код
				ОКВЭД)</FONT></FONT></P>
			</TD>
			<TD COLSPAN=32 WIDTH=86% STYLE="border-top: 1px solid; border-bottom: none; border-left: none; border-right: none; padding: 0in">
				<P ALIGN=CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2 STYLE="font-size: 9pt">(наименование
				вида экономической деятельности)</FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
</TABLE>

<TABLE WIDTH=100% CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=22*>
	<COL WIDTH=54*>
	<COL WIDTH=48*>
	<COL WIDTH=54*>
	<COL WIDTH=35*>
	<COL WIDTH=42*>
	<TR>
		<TD COLSPAN=6 WIDTH=100% HEIGHT=34 STYLE="border: none; padding: 0in">
			<P LANG="en-US" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P ALIGN=LEFT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="en-US"><B></B></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>
Описание</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>
			трудовых функций,  входящих в
			профессиональный стандарт  (функциональная
			карта вида профессиональной деятельности)</B></FONT></FONT></P>
		</TD>
	</TR>
	<TR>
		<TD COLSPAN=3 WIDTH=50% STYLE="border: 1px solid; border-right: none; border-bottom: none; padding: 10px">
			<center><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Обобщенные
			трудовые функции</FONT></FONT></center>
		</TD>
		<TD COLSPAN=3 WIDTH=50% STYLE="border: 1px solid; border-bottom: none; padding: 10px">
			<center><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Трудовые
			функции</FONT></FONT></center>
		</TD>
	</TR>
	<TR>
		<TD WIDTH=4% STYLE="border: 1px solid; border-right: none; padding: 7px">
			<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2>код</FONT></FONT></center>
		</TD>
		<TD WIDTH=42% STYLE="border: 1px solid; border-right: none; padding: 7px">
			<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2>наименование</FONT></FONT></CENTER>
		</TD>
		<TD WIDTH=4% STYLE="border: 1px solid; border-right: none; padding: 7px">
			<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2>уровень
			квалификации</FONT></FONT></CENTER>
		</TD>
		<TD WIDTH=42% STYLE="border: 1px solid; border-right: none; padding: 7px">
			<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2>наименование</FONT></FONT></CENTER>
		</TD>
		<TD WIDTH=4% STYLE="border: 1px solid; border-right: none; padding: 7px">
			<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2>код</FONT></FONT></CENTER>
		</TD>
		<TD WIDTH=4% STYLE="border: 1px solid; padding: 7px">
			<CENTER><FONT FACE="Times New Roman, serif"><FONT SIZE=2>уровень
			(подуровень) квалификации</FONT></FONT></CENTER>
		</TD>
	</TR>
   
   {% for x in mixed_tf_otf %}
       
   
   <TR>

 		<TD ROWSPAN="{{ x.1|length }}" STYLE="border: 1px solid; border-top: none; border-right: none;">
			<P><center><p>{{ x.0.codeotf }}</p><BR></center></P>
		</TD>

		<TD ROWSPAN="{{ x.1|length }}" STYLE="border: 1px solid; border-top: none; border-right: none; padding-left: 10px; padding-right: 10px;">
			<P> <p>{{ x.0.nameotf }}</p><BR>
			</P>
		</TD>
        
        		<TD ROWSPAN="{{ x.1|length }}" STYLE="border: 1px solid; border-top: none; border-right: none;">
			<P><center><p>{{ x.0.levelofquali }}</p><BR></center></P>
		</TD>
  
           
	   <TD WIDTH=42% STYLE="border: 1px solid; border-top: none; border-right: none; padding-left: 10px; padding-right: 10px;">
	   	<P><p>{{ x.1.0.nametf }}</p></P>
	   </TD>
	   <TD WIDTH=4% STYLE="border: 1px solid; border-top: none; border-right: none;">
	   	<P><center><p>{{ x.1.0.codetf }}</p></center></P>
	   </TD>
	   <TD WIDTH=4% STYLE="border: 1px solid; border-top: none;">
	   	<P><center><p>{{ x.1.0.subquali }}</p></center></P>
	   </TD>
           
	</TR>    
 
   
      {% for tf in x.1|slice:"1:" %}
           
           <TR>
           
	        	<TD WIDTH=42% STYLE="border: 1px solid; border-top: none; border-right: none; padding-left: 10px; padding-right: 10px;">
	        		<P><p>{{ tf.nametf }}</p></P>
	        	</TD>
	        	<TD WIDTH=4% STYLE="border: 1px solid; border-top: none; border-right: none;">
	        		<P><center><p>{{ tf.codetf }}</p></center></P>
	        	</TD>
	        	<TD WIDTH=4% STYLE="border: 1px solid; border-top: none;">
	        		<P><center><p>{{ tf.subquali }}</p></center></P>
	        	</TD>
           
	        </TR>           
           
      {% endfor %}
   
   {% endfor %}
   

</TABLE>

<TABLE>
<P STYLE="margin-bottom: 0.14in"><TABLE DIR="LTR" ALIGN=LEFT WIDTH=100% HSPACE=4 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=13*>
	<COL WIDTH=243*>   

	<TBODY>
		<TR>
			<TD COLSPAN=2 WIDTH=100% HEIGHT=41 STYLE="border: none; padding: 0in">
				<P ALIGN=LEFT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><SPAN LANG="en-US"><B></B></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>
</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=4><B>Сведения
				об организациях – разработчиках
				профессионального&nbsp;стандарта</B></FONT></FONT></P>
			</TD>
		</TR>
		<TR>
			<TD COLSPAN=2 WIDTH=100% HEIGHT=24 STYLE="border: none; padding: 0in">
				<P><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US"><B></B></SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>
				Ответственная организация-</B></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><B>разработчик</B></FONT></FONT></P>
			</TD>
		</TR>
	</TBODY>
   
	<TBODY>

		<TR>
			<TD COLSPAN=2 WIDTH=100% HEIGHT=44 STYLE="border: 1px solid; padding: 10px">
				<FONT FACE="Times New Roman, serif"><FONT SIZE=3>{{ psinfo.responsibledeveloper }}</FONT></FONT>
			</TD>
		</TR>
		<TR>
			<TD COLSPAN=2 WIDTH=100% STYLE="border: 1px solid; border-top: none; padding: 10px">
				<FONT FACE="Times New Roman, serif"><FONT SIZE=3>{{ psinfo.headname }} - {{ psinfo.head }} </FONT></FONT>
			</TD>
		</TR>
	</TBODY>
</TABLE>
&nbsp;

</div>
<!--/container-->
</div> <!--/angfular app-->

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>


<script>
angular.module("ps_search",[]).controller("ps_search_ctrl",function($scope){});  
</script>

{{ form.media }}
{% endblock %}  

