<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">{{ object.title }}
        <small><!--by
          <a href="#">Start Bootstrap</a>-->
        </small>
      </h1>

<!--      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
      </ol>-->

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ object.image.url }}" alt="">

          <hr>

          <!-- Date/Time -->
          <p>{{object.created_at}}</p>

          <hr>

          <!-- Post Content -->
          <p class="lead">{{object.text}}</p>

          <hr>

          <!-- Comments Form -->
<!--          <div class="card my-4">
            <h5 class="card-header">Написать комментарий:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Отправить</button>
              </form>
            </div>
          </div>-->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %} 
