<!DOCTYPE html>

{% extends "layouts/layout.html" %}
{% load static %}

{% block head %}
<title>Новости</title>
<meta name="description" content="Новости" />
{% endblock %}

{% block content %}


<section class="newssection">
    <!-- Page Content -->
    <div class="container" style="min-height: 100vh;">

      <h1 class="mt-4 mb-3">Новости </h1>

      <!-- Blog Post -->

      <div class="row">
     {% for n in articles %}
        <div class="col-lg-4 col-sm-6 py-3 news-item">

          <div class="card h-100" >
              <div class="img-card-wrapper ">
                <a href="/news/{{ n.slug}}">
                  <img class="card-img-top img-fluid" src="{{ n.image.url }}" alt="">
                </a>
              </div>

            <div class="card-body" >
              <p class="card-title">
                <a href="/news/{{ n.slug}}" class="newslink">{{ n.title }}</a>
              </p>

              <p class="card-text line-clamp" >{{ n.created_at }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
       </div>

 {% if is_paginated %}

        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/news?page={{ page_obj.previous_page_number }}" class="previous">&larr; Раньше</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/news?page={{ page_obj.next_page_number }}" class="next">Позже &rarr;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

</div>
  <!-- /.container -->
</section>

{% endblock %}