<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% autoescape off %}

<style>

    
</style>


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">{{ object.title }}
        <small>
        </small>
      </h1>

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ object.image.url }}" alt="">

          <hr>

          <!-- Date/Time -->
          <p>{{object.created_at}}</p>

          <hr>

          <!-- Post Content -->
          {{object.text}}

          <hr>

          <!-- Comments Form -->
<!--          <div class="card my-4">
            <h5 class="card-header">Написать комментарий:</h5>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Отправить</button>
              </form>
            </div>
          </div>-->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endautoescape %}
{% endblock %} 
