<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% autoescape off %}

<!-- Page Content -->

<div class="container blog-post">
    
  <!-- Page Heading/Breadcrumbs -->
  <div class="py-3">
    <p class="font-italic text-muted">Источник: <a href="{{object.url}}">{{object.url}}</a></p>
  </div>
  
  <h1 class="mt-4 mb-3">{{ object.title }}
    
  </h1>

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{ object.image.url }}" alt="">

      <hr>

      <!-- Date/Time -->
      <p>{{object.created_at}}</p>

      <hr>

      <!-- Post Content -->
      {{object.text}}

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endautoescape %}
{% endblock %} 
