<!DOCTYPE html>

{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<style>

</style>



<section class="section about py-5" style="min-height: 100vh;">
	<div class="container">

<p>Цель проекта ПрофНавигатор - популяризация внедрения профессиональных стандартов.
По всем интересующим вопросам можно обращаться через  <a class="text-info" href="{% url 'contacts' %}">форму контактной связи.</a>
</p>

	</div>
</section>

<!--====  End of FAQ  ====-->

{% endblock %}