<!DOCTYPE html>

{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
<title>О проекте ПрофНавигатор</title>
{% endblock %}

{% block content %}


<section class="section about py-5" style="min-height: 100vh;">
	<div class="container">

<p>Цель проекта ПрофНавигатор - популяризация внедрения профессиональных стандартов.
По всем интересующим вопросам можно обращаться через  <a class="text-info" href="{% url 'contacts' %}">форму контактной связи.</a>
</p>

<p>Мы не передаем, не продаем, не арендуем и не продаем личную информацию Пользователя третьим лицам в коммерческих целях.
Мы не раскрываем личную информацию пользователя за пределами сайта ПрофНавигатор.
Мы совместно с сервисами Яндекс используем определенную агрегированную, не лично идентифицирующую информацию о том, как наши пользователи
использует файлы cookie (и аналогичные технологии, такие как HTML5 localStorage), чтобы Вы могли автоматически входить в систему и запоминать Ваши настройки.
</p>

<p>
Файл cookie - это небольшой фрагмент текста, который наш веб-сервер хранит на вашем компьютере или мобильном устройстве,
которое ваш браузер отправляет нам, когда вы возвращаетесь на наш сайт. Сookie-файлы не обязательно идентифицируют вас,
если вы просто посещаете ПрофНавигатор; однако cookie может хранить уникальный идентификатор для каждого зарегистрированного пользователя.
Набор файлов cookie необходим для работы веб-сайта или используется для повышения производительности или функциональности.
Используя наш веб-сайт, вы соглашаетесь с тем, что мы можем размещать эти типы файлов cookie на вашем компьютере или устройстве.
Если вы отключите браузер или возможность принимать файлы cookie, вы не сможете войти в систему или воспользоваться услугами ПрофНавигатор.

</p>

<p>
Мы используем сервис Яндекс.Метрика в качестве службы оценки посещаемости сайта, но мы не используем ее для для сбора личной информации.
Мы используем Яндекс.Метрика для сбора информации о том, как работает наш веб-сайт, и о том, как наши пользователи просматривают и используют ПрофНавигатор.
Это помогает нам оценить использование нашими пользователями сервисов ПрофНвигатор; составлять статистические отчеты о деятельности; и улучшать наш контент и производительность сайта.

Яндекс.Метрика собирает определенную простую, не лично идентифицирующую информацию с течением времени, такую ​​как ваш IP-адрес,
тип браузера, поставщик интернет-услуг, страницы для ссылок и выхода, отметка времени и аналогичные данные о вашем использовании ПрофНавигатор.
Мы не связываем эту информацию с любой вашей личной информацией, такой как ваше имя пользователя или электронная почта.
ПрофНавигатор не сможет и не разрешит третьим лицам использовать инструмент Яндекс.Метрика для отслеживания наших пользователей по отдельности;
собирать любую личную информацию пользователя, кроме IP-адреса; или сопоставить свой IP-адрес с вашей личностью. Яндекс предоставляет
дополнительную информацию о своих собственных методах конфиденциальности и предлагает браузерное дополнение(Блокировщик Яндекс.Метрики),
чтобы отказаться от отслеживания Яндекс.Метрики.
</p>
<p>

</p>

	</div>
</section>

<!--====  End of FAQ  ====-->

{% endblock %}