<!DOCTYPE html>
    
{% extends "layouts/layout.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


    <header class="masthead text-center ">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Квалификационный справочник должностей</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto md-form">
            <form method="get" action='/search-jobtitles/{{ jt }}'>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">            
                  <input type="text" class="form-control form-control-lg" id="search" name="search" value="" required>
                   <label for="search" class="">поиск по ключевому слову</label>
                </div>                
                <div class="col-12 col-md-3">
                  <input type="submit" class="btn btn-block btn-mdb-color"
                  value="Найти">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container mainindex">

      <!-- News Section -->
      <h2 class="my-4">Новости</h2>
       
      <div class="row">
        {% for n in news %}

        <div class="col-lg-4 col-sm-6 news-item">
          <div class="card h-100" >
            
                <div class="img-card-wrapper ">
                  <a href="/news/{{ n.slug}}">
                  <img class="card-img-top img-fluid" src="{{ n.image.url }}" alt=""></a>
                </div>
            <div class="card-body" >
              <p class="card-title">
                <a href="/news/{{ n.slug}}">{{ n.title }}</a>
              </p>
              
              <!--<p class="card-text line-clamp" >{{ n.short }}</p>-->
            </div>
          </div>
        </div>

         {% endfor %}
        <div class="col-md-12 py-3">
          <a class="btn btn-lg btn-mdb-color btn-block" href="/news/">Перейти ко всем новостям в ленте</a>
        </div>
      </div>
      <!-- /.row -->
<script>

</script>
      <h1 class="my-4">Работа с профстандартами</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Профстандарты</h4>
            <div class="card-body">
              <p class="card-text">Найти профессиональный стандарт</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'search-profstandart' %}" class="btn btn-mdb-color">Перейти</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Должностные инструкции</h4>
            <div class="card-body">
              <p class="card-text">Справочник должностей из реестра профессиональных стандартов. Инофрмация о требованиях и компетенциях.
              Автоматическое построение должностной инструкции. Скачивание должностной инструкции в формате MS Word(необходима авторизация)</p>
            </div>
            <div class="card-footer">
              <a href="{% url 'search-jobtitles' %}" class="btn btn-mdb-color">Перейти</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Конструктор резюме</h4>
            <div class="card-body">
              <p class="card-text">Позволяет сконструировать резюме в рамках выбранного профстандарта с необходимыми компетенциями. Конструктор резюме доступен в личном кабинете после авторизации </p>
            </div>
            <div class="card-footer">
              <a href="{% url 'generator-cv-resume' %}" class="btn btn-mdb-color">Перейти</a>
            </div>
          </div>
        </div>        
      </div>
      <!-- /.row -->

      <!-- Features Section -->
      <div class="row">
        <div class="col-lg-6">
          <h2>ПрофНавигатор</h2>
          <p>С помощью сервиса ПрофНавигатор вы можете:</p>
          <ul>
            <li>
              <strong>Получить информацию из существующих профстандартов</strong>
            </li>
            <li>Получить информацию о должности в редакции профстандарта</li>
            <li>Сгенерировать должностную инструкцию с учетом требований профстандарта</li>
            <li>Составить резюме в терминах профстандартов</li>
            <li>Посмотреть рекомендации по обучению желаемой квалификации</li>
            <li>Оставаться в курсе новостей внедрения профстандартов</li>
          </ul>
          <p>ПрофНавигатор использует современные алгоритмы обработки данных и самые свежие данные профстандартов с сайтов:</p>
          <ul>
            <li>Министерство труда и социальной защиты</li>
            <li>Российское образование. Федеральный образовательный портал</li>

          </ul>          
          
          
        </div>
        <div class="col-lg-6">
          <img class="img-fluid rounded" src="{% static 'images/700x450.jpg' %}" alt="">
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>ПрофНавигатор - помощник в области внедрения профстандартов.</p> <!--Используйте регистрацию для доступа к сервисам генератора резюме.-->
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-amber btn-block" href="/register/">Зарегестрироваться</a>
        </div>
      </div>

    </div>
    <!-- /.container -->


{{ form.media }}
{% endblock %}
