<!DOCTYPE html>

{% extends "layouts/cabinetlayout.html" %}

{% block head %}
<title>Получение доступа к сервисам</title>
<meta name="description" content="Получение доступа к сервисам ПрофНавигатор" />
{% endblock %}

{% load static %}
{% block cabinet %}

<!--===================================
=            Pricing Table            =
====================================-->

<section class="section pricing"  style="min-height: 100vh;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Получить <span class="alternate">доступ</span></h3>
					<p>Полный доступ ко всем серисам без ограничений</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Pricing Item -->
				<div class="pricing-item featured">
          <a href="{% url 'purchase' purchase_name='600' %}">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>На месяц</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>600<span>&#8381;</span></h2>
							<!--<p>/Person</p>-->
						</div>
					</div>
          </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Pricing Item -->
				<div class="pricing-item featured">
         <a href="{% url 'purchase' purchase_name='1500' %}">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>На 3 месяца</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>1500<span>&#8381;</span></h2>
							<!--<p>/Person</p>-->
						</div>
					</div>
         </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-auto">
				<!-- Pricing Item -->
				<div class="pricing-item featured">
          <a href="{% url 'purchase' purchase_name='4800' %}">
					<div class="pricing-heading">
						<!-- Title -->
						<div class="title">
							<h6>На год</h6>
						</div>
						<!-- Price -->
						<div class="price">
							<h2>4800<span>&#8381;</span></h2>
							<!--<p>/Person</p>-->
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Pricing Table  ====-->


{% endblock %}