<!DOCTYPE html>

{% extends "layouts/layout.html" %}

{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container py-5" style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Регистрация</h3>
                        </div>
                        <div class="card-body">
                          <form method="post">
                           {% csrf_token %}
                         
                           {% for hidden_field in form.hidden_fields %}
                             {{ hidden_field }}
                           {% endfor %}
                         
                           {% for field in form.visible_fields %}
                             <div class="form-group">
                               {{ field.label_tag }}
                               
                               {% render_field field class="form-control form-control-lg rounded-0" %}
                               
                               {% if field.help_text %}
                               
                                 {% autoescape off %} <!-- escape html chars -->
                                   <small class="form-text text-muted">{{field.help_text}}</small>
                                  {% endautoescape %}
                                  
                               {% endif %}
                             </div>
                             
                           {% endfor %}
                         
                           <button type="submit" class="btn btn-secondary">Зарегестрироваться</button>
                         </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->  
  

{% endblock %}