
{% extends "socialaccount/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container py-5" style="min-height: 100vh;">
    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %} </p>


<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  <div class="col-4">
  {{ form|bootstrap }}
  {% if redirect_field_value %}
   
    <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
    
  </div>
  <p class="form-text text-muted">
   Нажимая кнопку Регистрация, вы принимаете
  <a href="/agreement/">Соглашение на обработку персональных данных</a></p>

</form>

</div>
{% endblock %}
